{% extends 'auth_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Iniciar Sesión" %} - FunATI{% endblock %}

{% block content %}
<div class="login-container">
    <img src="{% static 'assets/logo.png' %}" alt="Funati Logo" class="logo"/>

    <form class="login-form" method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="{% trans 'Ingrese el correo' %}" required />
        <input type="password" name="password" placeholder="{% trans 'Ingrese la clave' %}" required />
        <button type="submit">{% trans "Iniciar Sesión" %}</button>
    </form>

    {% if error %}
        <div class="error-message">{{ error }}</div>
    {% endif %}

    <div class="login-links">
        <a href="{% url 'funATIAPP:recover_password' %}">{% trans "Recuperar Clave" %}</a>
        <a href="{% url 'funATIAPP:register' %}">{% trans "Registrarse" %}</a>
    </div>
</div>
{% endblock %}
