{% load static %}
<nav class="sidebar">
      <div class="sidebar-logo">FunATI</div>
      <div class="sidebar-nav">
        <a href="{% url 'funATIAPP:muro' %}" class="active">
          <span id="icon-sidebar">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="25" viewBox="0 0 32 25" fill="none">
              <path d="M32 1.25V6.875H17.2308V0H30.7692C31.0957 3.31515e-06 31.4087 0.131701 31.6395 0.36612C31.8703 0.60054 32 0.91848 32 1.25ZM24.6154 16.25H32V9.375H24.6154V16.25ZM9.84615 16.25H22.1538V9.375H9.84615V16.25ZM7.38462 9.375H0V16.25H7.38462V9.375ZM17.2308 25H30.7692C31.0957 25 31.4087 24.8683 31.6395 24.6339C31.8703 24.3995 32 24.0815 32 23.75V18.75H17.2308V25ZM14.7692 0H1.23077C0.90435 3.31515e-06 0.591301 0.131701 0.360487 0.36612C0.129674 0.60054 3.26414e-06 0.91848 0 1.25V6.875H14.7692V0ZM0 23.75C3.26414e-06 24.0815 0.129674 24.3995 0.360487 24.6339C0.591301 24.8683 0.90435 25 1.23077 25H14.7692V18.75H0V23.75Z" fill="#F344EA"/>
            </svg>
          </span>
          <span>Muro</span>
        </a>
        <a href="{% url 'funATIAPP:friends' %}">
          <span id="icon-sidebar">👥</span>
          <span>Amigos</span>
        </a>
        <a href="{% url 'funATIAPP:chats' %}">
          <span id="icon-sidebar">💬</span>
          <span>Chats</span>
        </a>
        <a href="{% url 'funATIAPP:notifications' %}">
          <span id="icon-sidebar">🔔</span>
          <span>Notificaciones</span>
        </a>
        <a href="{% url 'funATIAPP:settings' %}">
          <span id="icon-sidebar">⚙️</span>
          <span>Configuración</span>
        </a>
      </div>

      <div class="sidebar-footer">
        <a href="{% url 'funATIAPP:profile' %}" class="profile-btn">
          <span class="sidebar-avatar"></span>
          <span class="user-info">
            <span class="user-name">Hannah G. Vollidot</span>
            <span class="user-username">@HannGVollidot</span>
          </span>
        </a>
        <button class="logout-btn" title="Cerrar sesión">
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#F344EA"
            >
              <path
                d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"
              />
            </svg>
          </span>
        </button>
    </div>
</nav>
