<nav class="sidebar">
      <div class="sidebar-logo">FunATI</div>
      <div class="sidebar-nav">
        <a href="#" class="active">
          <span id="icon-sidebar">🏠</span>
          <span>Muro</span>
        </a>
        <a href="#">
          <span id="icon-sidebar">👥</span>
          <span>Amigos</span>
        </a>
        <a href="#">
          <span id="icon-sidebar">💬</span>
          <span>Chats</span>
        </a>
        <a href="#">
          <span id="icon-sidebar">🔔</span>
          <span>Notificaciones</span>
        </a>
        <a href="#">
          <span id="icon-sidebar">⚙️</span>
          <span>Configuración</span>
        </a>
      </div>

      <div class="sidebar-footer">
        <a href="#" class="profile-btn">
          <span class="sidebar-avatar"></span>
          <span class="user-info">
            <span class="user-name">Hannah G. Vollidot</span>
            <span class="user-username">@HannGVollidot</span>
          </span>
        </a>
        <button class="logout-btn" title="Cerrar sesión">
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#F344EA"
            >
              <path
                d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"
              />
            </svg>
          </span>
        </button>
    </div>
</nav>
