{% extends 'base.html' %}
{% load static %}

{% block title %}Muro - FunATI{% endblock %}

{% block page_title %}Muro{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/muro.css' %}">
{% endblock %}

{% block content %}
<div class="funar">
    <div class="funar-flex">
        <div class="post-avatar"></div>
        <span class="span-funar">¿A quién quieres Funar?</span>
    </div>
    <div class="buton-flex">
        <div class="icon"></div>
        <div>
            <button class="button-funar">Funar</button>
        </div>
    </div>
</div>

<!-- Sección de interacciones -->
<div id="container-main" class="section muro"></div>
<div id="container-main2" class="section muro"></div>
{% endblock %}

{% block extra_js %}
<script>
    // Función para cargar un archivo HTML en un elemento
    function loadHTML(selector, filePath) {
        fetch(filePath)
            .then(response => response.text())
            .then(html => {
                document.querySelector(selector).innerHTML = html;
            })
            .catch(error => console.error('Error al cargar el archivo:', error));
    }

    // Cargar el footer cuando el DOM esté listo
    document.addEventListener('DOMContentLoaded', () => {
        loadHTML('#container-main', '{% url "funATIAPP:container" %}');
        loadHTML('#container-main2', '{% url "funATIAPP:container" %}');
        // Puedes cargar también un header si tuvieras:
        // loadHTML('#header-placeholder', 'header.html');
    });
</script>
{% endblock %}
