<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Recuperar Contraseña</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
  <div class="login-container">
    <img src="logo.png" alt="Funati Logo" class="logo"/>

    <h2 class="form-title">Recuperar Clave</h2>

    <form class="login-form">
      <input type="email" placeholder="Ingrese el correo" required />
      <p class="form-hint">Se le enviará una nueva clave a su correo</p>
      <button type="submit">Enviar</button>
    </form>
  </div>
</body>
</html>
