<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
  <div class="login-container">
    <img src="logo.png" alt="Funati Logo" class="logo"/>

    <form class="login-form">
      <input type="email" placeholder="Ingrese el correo" required />
      <input type="password" placeholder="Ingrese la clave" required />
      <input type="password" placeholder="Repite la clave ingresada" required />
      <button type="submit">Registrarse</button>
    </form>

  </div>
</body>
</html>
